.navbar {
  display: flex;
  margin: 0;
  padding-left: 100px;
  color: #afafbf;
}

ul {
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
  padding: 1vw;
}

a {
  color: #afafbf;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    height: 10vh;
  }
  ul {
  }
  li {
  }
}
