body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
  background-color: #171c28;
  color: #afafbf;
}

.content {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
