body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0px;
  background-color: #171c28;
  background-image: linear-gradient(-90deg, #171c28, #123688);
  color: #afafbf;
}

.content {
}

@media only screen and (max-width: 600px) {
  .content {
  }
}
