body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
